<li>
	{{sushi_name}}

	{{!-- <button class="devouredSushi" data-id="{{id}}" data-newsleep="{{sleep}}" > 
		{{#if devoured}}Eat!{{else}}All Gone!{{/if}}
	
	</button> --}}

	<button class="deleteBtn" data-id="{{this.id}}">DELETE</button>

	{{!-- <button class="devourRoll" data-id="{{this.id}}" data-newSushi="{{devoured}}">DEVOURED!</button> --}}
</li>
